body {
    display: block;
    margin: 8px;
    background-image: url("https://i.imgur.com/uiWBNf8.jpg");
    background-position: top;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    color: #2a2a2a;
    font-family: 'Satisfy', cursive;
    margin-top: 5px;
    color: #1A5F8D;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

.symptom {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 55px;
}

html {
    display: block;
}

head {
    display: none;
}


#nav {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#right {
    float: left;
    width: 900px;
    margin-top: 40px;
    min-height: 725px;
    background-color: rgba(255,255,255, 0.7);
    border-style: groove;
}

#right img {
    border: 2px solid black;
    alignment-baseline: text-after-edge;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

span {
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}