<!DOCTYPE html>
<html>
    <head>
        <title>Dr. Klossy</title>
        <link href="css/sports.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="nav">_</div>
      <div id="container">
        
        <div id="right">
      <h2>Hip Flexor Strain</h2>
      
      <img src="https://medicalfoster.com/wp-content/uploads/2017/03/sp-06-2015-2-jpg.jpeg" height="125">
        <h3>Sports injuries to this muscle group can be cause by sprinting,
        running in clines, and activites with quick turns and sudden starts. 
        Hip flexor strains are commonly seen in running and kicking sports such
        as football, soccer, and track and field.</h3>
    <h4>Symptoms</h4>
        <h6>Common symptoms of hip flecor strains would include pain with 
        raising the legs, such as strair climbing and transfers in and out of 
        a car. Someone who ecperiences a hip flecor strain might notice bruising 
        in the front of the upper tight and groin area.</h6>
    <h4>Treatment</h4>
        <h6>A hip flexor strain is best treated by rest and icing for 15 to 20 
        minutes at a time for the first 48 to 72 hours. After the first three 
        recovery days, the injured athlete could apply heat for 15 to 20 minutes 
        followed by lying down and performing gentle heel slides and hip flexor 
        stretches.</h6>
    <h4>Diagnoses</h4>
        <h6>Hip Flecor strains range from grade 1 to grade 3
        
        <ul>
            <li>Grade 1 Tear: a small number of fibres are torn resulting in 
            some pain, but allowing full function</li>
            <li>Grade 2 Tear: a significant number of fibres are torn with 
            moderate loss of function</li>
            <li>Grade 3 Tear: all muscle fibres are ruptured resulting in major 
            loss of function.</li>
        </ul>
            <h6>Pantients with a minor hip flexor strain can usually recover in one 
            to three weeks. With larger tears, recovery may take four to eight 
            weeks or longer depending on the severity. Complete ruptures of the 
            hip flecor muscle are rare and are usually managed conservatively.
            </h6>
            
            
            
     <h2>Anterior Cruciate Ligament tear</h2>
            <img src="https://www.jaipurjoints.com/wp-content/uploads/2018/02/acl-tear.jpg" height="150">
        <h3>There are three main movements that place stress on the ACL, these 
            include:</h3>
            <ul>
                <li>twisting of the knee</li>
                <li>hyperextension of the knee</li>
                <li>foward movement of the tibia on the femur</li>
            </ul>
        <h4>Symptoms</h4>
            <h6>Athletes with an ACL tear may notice an audible snap or tearing 
            sound at the time of the injury. In minor cases, atheletes may be able 
            to continue activity, only to experience an increase in pain, swelling 
            and stiffness in the knee after activity with rest. Ofter the pain 
            associated with this condition is felt deep within the knee and is 
            poorly localized.</h6>
    <h4>Treatment</h4>
        <h6>Most athletes with a minor to moderate ACL tear heal well with 
        appropiate therapy. Resting from aggravating activites ensures the body 
        can begin the healing preocess in the absence of further damage.The 
        RICE (Rest, Ice, Compress, and Elevate) method is strongly encouraged. 
        Surgical reconstruction of the ACL is often required in patients who 
        have a complete rupture of the ACL and are seeking the highest level of 
        function.</h6>
    <h4>Diagnoses</h4>
        <h6>Through subjective and ojective examination from a doctor is usually
        sufficient to diagnose an ACL tear. Investigations such as an X-ray, 
        MRI scan, or CT scan may be required to confirm diagnosis and determine 
        the extent of damage or involvement of other structures within the knee.</h6> 
    <ul>
            <li>Grade 1 Tear: a small number of fibres are torn resulting in 
            some pain, but allowing full function</li>
            <li>Grade 2 Tear: a significant number of fibres are torn with 
            moderate loss of function</li>
            <li>Grade 3 Tear: all fibres are ruptured resulting in knee 
            instability and major loss of function. Often other structures are 
            injured, as well. Surgery is often required.</li>
     </ul>
        
        
    <h2>Concussion</h2>
    <img src="https://qbi.uq.edu.au/files/32355/What-is-concussion-illustration.jpg" height="150">
        <h3> Concussions are most common in extreme impact sports, like 
        Football. Concussion prevention begins with proper equipment, 
        there is no such thing as a concussion-proof helment or mouthgaurd. 
        Young athletes must be trained in safe sports techinque and to follow 
        the rules of the game.</h3>
    <h4>Symptoms</h4>
        
        <h6>Common concussion symptoms can include:</h6>
           <ul>
               <li>Headache</li>
               <li>Confusion</li>
               <li>Dizziness</li>
               <li>Nausea and/or vomiting</li>
               <li>Slurred speech</li>
               <li>Sensitivity to light</li>
               <li>Delayed response to questions</li>
           </ul> 
            
    <h4>Treatment</h4>
        <h6>The key to healing from a concussion is complete rest. This includes 
        no just physical rest, byt mental rest, as well. Recovery typically 
        takes 7 to 10 days, although some people have symptoms for weeks or 
        months after the injury. Once you are free of sumtoms, you can gradually
        return to physical and mental activity.</h6>
    <h4>Diagnoses</h4>
        <h6>During a docotr examination, he/she will ask quick questions about 
        the injury and how it occurred. Your doctor will most likely perform a 
        neurological examination, which tests for balance, coordination, vision,
        hearing, and reflexes.</h6>
            
        
        
    <h2>Shin Splints</h2>
    <img src="https://cdn.shopify.com/s/files/1/0763/4541/files/Shin_Splint_Diagram.jpg?v=1507735858" height="150">
        <h3>Shin Splints are usually associated with overuse (such as an 
        increase in training or running) and are often seen in runners and 
        soccer players.</h3>
    <h4>Symptoms</h4>
        <h6>Athletes with shin splints typically ecperience pain along the inner
        border of the shin. Symptoms are often present upon commencing weight 
        bearing exercise such as running or spriniing, but will normally 
        decrease as the warm up. In more severe cases, patients many experience 
        an ache that increases to a sharper pain and activity. A limp may be 
        present although this may also reduce as the patient warms up.</h6>
    <h4>Treatment</h4>
        <h6>Most patients with this condition heal well with an appropriate
        physial therapy program. Recovery time may range from a few weeks to 
        many moths depending on the severity of injury, quality of treatment and 
        length of time the injury has been present for. Patients with shin 
        splints that have been present for months may require a considerable 
        period of treatment associated with reduced activity before full 
        recovery accurs.</h6>
    <h4>Diagnoses</h4>
        <h6>Through subjective and objective examination from a physician is 
        usually suggicient to diagnose shin splints. Investigations such as an 
        X-ray, bone scan, CT scan, or MRI many be used to assist with diagnosis.
        </h6>
       
    <h2>Sciatica</h2>
    <img src="https://curiousmindmagazine.com/wp-content/uploads/2017/06/sciatica.jpg" height="150">
        <h3>Sciatice is triggered when something -- usually a herniated disk but
        sometimes a bone spur -- puts pressue on your sciatic nerve, which runs
        from your lower back down to your legs and feet.</h3>
    <h4>Symptoms</h4>
            <ul>
                <li>Loswer back pain
                <li>Pain in your gluts or leg that worses when you sit</li>
                <li>Hip pain</li>
                <li>Burning or tingling down your leg</li>
                <li>Weakness, numbness, or difficulty moving your leg or foot</li>
                <li>A constant pain on one side of your gluts</li>
                <li>A shooting pain down your leg that makes it difficult to 
                stand</li>
            </ul>
    <h4>Treatments</h4>
        <h6>Mild sciatica usually responds well to over-the-counter medicines 
        and hot and cold packs. But if yout back pain lasts for more than a week 
        or gets worse, call a doctor. If your pain comes on suddenly, us called 
        by injury, or makes you lose control of your bladder or bowels, these 
        are emergencies and you should call your doctor immediately.</h6>
    <h4>Diagnoses</h4>
        <h6> Your doctor will do a physical exam to try to figure out which 
        nerve is causeing your problem. He/she might have you do some exercises 
        to see if they make your pain worse. Your doctor might also get some 
        imaging tests done. X-rays, CT scans, and MRIs can look for herniated 
        disks or bone spurs that clearly would be causes of sciatice.</h6>
            
        
        
    <h2>Hamstring Strain</h2>
    <img src="https://healthjade.com/wp-content/uploads/2018/02/hamstring-injury-grades.jpg" height="150">
        <h3>A hamstring strain generally occurs as a result of muscle overload.
        When your foot strikes the ground and all your weight is on it, the 
        muscles can get stretched too far and they may start to tear. People who 
        take part in certain activites that involve sprinting or jumpning (like 
        track and field, soccer, football, and basketball) are at a higher risk.
        </h3>
    <h4>Symptoms</h4>
        <h6>You'll feel a sharp pain and possibly a popping sensation at the 
        back of your leg. Usually a hamstring strain causes an athelete to 
        collapse.</h6>
       
        
    <h4>Other symptoms include:</h4>
        <ul>
            <li>Pain in the back of thigh when benfinf or straightening the leg
            </li>
            <li>Tenderness, swelling, and bruising in the back of the thigh</li>
            <li>Weakness in your leg that lasts for a long time after the injury
            </li>
        </ul>
    
    <h4>Treatment</h4>
        
            <ul>
                <li>RICE (Rest, Ice, Compress, Elevate)</li>
                <li>Pain medicine (Ibuprofen and other non-steroidal anti-
                inflammatory drugs (NSAIDs) can help relieve pain and reduce 
                swelling in the leg.</li>
                <li>Stretching and Strengthening exercises</li>
            </ul>
        
    <h4>Diagnoses</h4>
        <h6>A hamstring strain might be diagnosed on the sidelines by a trainer 
        or when you see a physial therapist. The doctor will examine your leg 
        and ask you questions about how the injury happened and how much pain 
        you have.</h6>
        <ul>
            <li>Grade 1 (mild strain): You may experience some pain when you use
            your leg, but it will be minor with minimal swelling</li>
            <li>Grade 2 (partial tear): You might see some swelling and brusing, 
            and you might not be able to straighten you leg all the way.</li>
            <li>Grade 3 (a complete tear): You'll feel pain and wont be able to
            strighten your leg, your leg will swell reight away.</li>
            </ul>
           
        
    <h2>Tennis Elbow</h2>
    <img src="http://www.serviceyourbody.ie/wp-content/uploads/2017/11/Tennis-Elbow-Exercises-470x280.jpg?i=27560" height="150">
        <h3>Tennis elbow is a painful condition that occurs when tendons in your 
        elbow are overloaded, usually by repetitive motions of the wrist and 
        arm.</h3>
    <h4>Symptoms</h4>
        <h6>Pain associated with tennis elbow may radiate from outside of the 
        elbow onto the forearm and wrist. Pain and weakness may milk it difficut
        to grip objects.</h6>
    <h4>Treatment</h4>
        <h6>Rest and over-the-counter pain relievers often help relieve tennis 
        elbow. If conservative treatments don't help or if symptoms are 
        disabling, you doctor might suggest surgery.</h6>
    <h4>Diagnoses</h4>
        <h6>To diagnose your tennis elbow, your doctor will do a thorough exam.
        He or she will want you to flew your arm, wrist, and elbow to see where
        it hurts. You may also need imaging tests, such as an X-ray or MRI 
        (magnetic resonance imaging) to diagnose tennis elbow or rule our other
        problems.</h6>
        
        
        <h2>Patellofemoral Syndrome</h2>
        <img src="http://www.sportsinjuryclinic.net/images/knee/patella-pain500.jpg" height="150">
        <h3>Patellofemarl syndrome is pain at the front of your knee, around 
        your keecap. Sometimes called "runner's knee", it's more common in 
        people who participate in sports that invlove running and jumping.</h3>
        <h4>Symptoms</h4>
        <h6>Patellofemoral sydrome usually causes a dull, aching pain in the 
        front of your knee. This pain can be aggravated when you:</h6>
        <ul>
            <li>Walk up or down stairs</li>
            <li>Kneel or squat</li>
            <li>Sit with a bent knee for long periods of time</li>
        </ul>
        
        <h4>Treatment</h4>
        <h6>Simple treatments -- such as rest and icee -- often help, but 
        sometimes physical therape is needed to ease patellofemoral pain. 
        If the knee pain doesn't improve within a few days, consult your doctor.
        </h6>
        <h4>Diagnoses</h4>
        <h6>Usually, your doctor will be able to diagnose patellofemoral pain
        syndrome with just a physical examination. In most cases, however, he or
        she will order and x-ray to rule out damage to the structure of the knee
        and to the tissues that connect to it.</h6>
            
        </div>
      </div>
        
    </body>    
    
    
</html>